<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
{{ partialCached "head/google-search-console-verification.html" . }}
<link rel="stylesheet" href="{{ .Site.BaseURL }}css/styles.css" />
{{ $appleTouchIcon := resources.Get "images/favicon/apple-touch-icon.png" }}
<link
  rel="apple-touch-icon"
  sizes="180x180"
  href="{{ $appleTouchIcon.RelPermalink }}"
/>
{{ $favicon32 := resources.Get "images/favicon/favicon-32x32.png" }}
<link
  rel="icon"
  type="image/png"
  sizes="32x32"
  href="{{ $favicon32.RelPermalink }}"
/>
{{ $favicon16 := resources.Get "images/favicon/favicon-16x16.png" }}
<link
  rel="icon"
  type="image/png"
  sizes="16x16"
  href="{{ $favicon16.RelPermalink }}"
/>
{{ $webmanifest := resources.Get "images/favicon/site.webmanifest" }}
<link rel="manifest" href="{{ $webmanifest.RelPermalink }}" />
<meta name="msapplication-TileColor" content="#da532c" />
<meta name="theme-color" content="#ffffff" />
<title>
  {{ if .IsHome }}
    {{ site.Title }}
  {{ else }}
    {{ printf "%s | %s" .Title
      site.Title
    }}
  {{ end }}
</title>
{{ partialCached "head/css.html" . }} {{ partialCached "head/js.html" . }}
