<section>
  <h3 class="text-center">
    {{ T "end-journey-title" }}
  </h3>
  <div class="mt-6 flex justify-center">
    {{ $joinCommunity := absLangURL "join-the-community" }}
    <a
      target="_blank"
      href="{{ .Site.Params.slackLink }}"
      rel="noopener noreferrer"
      class="button-green flex items-center justify-between text-base font-medium hover:font-extrabold ml-4 px-3 py-2"
    >
      <div class="fill-white h-4 w-4 mr-2">
        {{ partial "images/slack.svg" . }}
      </div>
      <div>
        {{ T "join-the-slack" }}
      </div>
    </a>
  </div>
</section>
