<!-- layouts/partials/why-realtime-colors.html -->

<section>
  <!-- class="text-secondary" -->
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 text-center">
    <h2 class="text-3xl font-bold mb-8">{{ T "main-topics" }}</h2>

    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
      <div class="card">
        <div class="my-4 flex items-center justify-center">
          <div class="card-img">
            {{ partial "images/collaboration.svg" . }}
          </div>
        </div>
        <h3 class="text-xl font-bold mb-2">{{ T "efficiency" }}</h3>
        <p>
          {{ T "efficiency-text" | safeHTML }}
        </p>
      </div>

      <div class="card">
        <div class="mb-4">
          <div class="my-4 flex items-center justify-center">
            <div class="card-img">
              {{ partial "images/complete-design.svg" . }}
            </div>
          </div>
        </div>
        <h3 class="text-xl font-bold mb-2">{{ T "quality" }}</h3>
        <p>
          {{ T "quality-text" | safeHTML }}
        </p>
      </div>

      <div class="card">
        <div class="mb-4">
          <div class="my-4 flex items-center justify-center">
            <div class="card-img">
              {{ partial "images/metrics.svg" . }}
            </div>
          </div>
          <h3 class="text-xl font-bold mb-2">{{ T "measure-ability" }}</h3>
          <p>
            {{ T "measure-ability-text" | safeHTML }}
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
